<body>
<!--<div class="bootstrap-wrapper">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-md-6 offset-md-3">-->
<!--        <mat-card class="animate__animated animate__fadeIn">-->
<!--          <div class="container text-center logo-container">-->
<!--            <img src="../../../assets/logoUnixam.png" alt="" />-->
<!--          </div>-->

<!--          <form (ngSubmit)="formSubmit()">-->
<!--            &lt;!&ndash; username field &ndash;&gt;-->
<!--            <mat-form-field class="full-width" appearance="outline">-->
<!--              <mat-label>User Name</mat-label>-->
<!--              <input [(ngModel)]="loginData.username" name="username" required matInput placeholder="Enter here" />-->
<!--              <mat-hint>Valid User Name</mat-hint>-->
<!--            </mat-form-field>-->

<!--            &lt;!&ndash; password field  &ndash;&gt;-->
<!--            <mat-form-field class="full-width" appearance="outline">-->
<!--              <mat-label>User Password</mat-label>-->
<!--              <input [(ngModel)]="loginData.password" name="password" type="password" required matInput placeholder="Enter here" />-->
<!--            </mat-form-field>-->

<!--            <div class="container text-center button-container">-->
<!--              <button mat-raised-button color="primary" type="submit">-->
<!--                Login-->
<!--              </button>-->
<!--              <button class="ml10" mat-raised-button color="accent">-->
<!--                Reset-->
<!--              </button>-->
<!--            </div>-->
<!--          </form>-->
<!--        </mat-card>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<section class="w-full px-8 py-16 bg-gray-100 xl:px-8">
  <div class="max-w-5xl mx-auto">
    <div class="flex flex-col items-center md:flex-row">

      <div class="w-full space-y-5 md:w-3/5 md:pr-16">
        <p class="font-medium text-blue-500 uppercase">Building Businesses</p>
        <h2 class="text-2xl font-extrabold leading-none text-black sm:text-3xl md:text-5xl">
          Changing The Way People Do Business.
        </h2>
        <p class="text-xl text-gray-600 md:pr-16">Learn how to engage with your visitors and teach them about your mission. We're revolutionizing the way customers and businesses interact.</p>
      </div>

      <form class="w-full mt-16 md:mt-0 md:w-2/5" (ngSubmit)="formSubmit()">
        <div class="relative z-10 h-auto p-8 py-10 overflow-hidden bg-white border-b-2 border-gray-300 rounded-lg shadow-2xl px-7">
          <h3 class="mb-6 text-2xl font-medium text-center">Sign in to your Account</h3>
          <input  [(ngModel)]="loginData.username" type="text" name="username" required matInput class="block w-full px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none" placeholder="username">
          <input [(ngModel)]="loginData.password" type="password" name="password" required matInput class="block w-full px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none" placeholder="Password">
          <div class="block">
            <button class="w-full px-3 py-4 font-medium text-white bg-blue-600 rounded-lg">Log Me In</button>
          </div>
          <p class="w-full mt-4 text-sm text-center text-gray-500">Don't have an account? <button mat-list-item RouterLink="/signup" class="text-blue-500 underline">Sign up here</button></p>
        </div>
      </form>

    </div>
  </div>
</section>

<!--<section class="w-full px-8 py-16 bg-gray-100 xl:px-8" >-->
<!--  <div class="max-w-5xl mx-auto">-->
<!--    <div class="flex flex-col items-center md:flex-row">-->

<!--      <div class="w-full space-y-5 md:w-3/5 md:pr-16">-->
<!--        <p class="font-medium text-blue-500 uppercase">Building Businesses</p>-->
<!--        <h2 class="text-2xl font-extrabold leading-none text-black sm:text-3xl md:text-5xl">-->
<!--          Changing The Way People Do Business.-->
<!--        </h2>-->
<!--        <p class="text-xl text-gray-600 md:pr-16">Learn how to engage with your visitors and teach them about your mission. We're revolutionizing the way customers and businesses interact.</p>-->
<!--      </div>-->

<!--      <form class="w-full mt-16 md:mt-0 md:w-2/5" (ngSubmit)="formSubmit()">-->
<!--        <div class="relative z-10 h-auto p-8 py-10 overflow-hidden bg-white border-b-2 border-gray-300 rounded-lg shadow-2xl px-7">-->
<!--          <h3 class="mb-6 text-2xl font-medium text-center">Sign in to your Account</h3>-->
<!--          <input [(ngModel)]="loginData.username" name="username" required matInput class="block w-full px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none" placeholder="Username">-->
<!--          <input [(ngModel)]="loginData.password" name="password" type="password" required matInput class="block w-full px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none" placeholder="Password">-->
<!--          <div class="block">-->
<!--            <button class="w-full px-3 py-4 font-medium text-white bg-blue-600 rounded-lg">Log Me In</button>-->
<!--          </div>-->
<!--          <p class="w-full mt-4 text-sm text-center text-gray-500">Don't have an account? <a href="#_" class="text-blue-500 underline">Sign up here</a></p>-->
<!--        </div>-->
<!--      </form>-->

<!--    </div>-->
<!--  </div>-->
<!--</section>-->

</body>


